In [1]:
import pandas as pd

In [2]:
all1=pd.read_excel('/Users/kang/Pandas/Real/all_2010_2013.xlsx')

In [3]:
all2=pd.read_excel('/Users/kang/Pandas/Real/all_2014_2016.xlsx')

In [4]:
all3=pd.read_excel('/Users/kang/Pandas/Real/all_2017_2020.xlsx')

In [29]:
rent1=pd.read_excel('/Users/kang/Pandas/Real/apt_rent_all_new_1.xlsx')

In [30]:
rent2=pd.read_excel('/Users/kang/Pandas/Real/apt_rent_all_new_2.xlsx')

In [31]:
rent=pd.concat([rent1,rent2])

In [26]:
sell=pd.read_excel('/Users/kang/Pandas/Real/apt_sell_all.xlsx')

In [32]:
rent

,Unnamed: 0,city,town,village,name,category,size,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,8.0,1988,2014,9,1,655-2,언주로 103,32
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,4.0,1988,2014,12,21,655-2,언주로 103,32
2,2,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,43000,0,7.0,1988,2014,12,24,655-2,언주로 103,32
3,8,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,67.28,25000,0,5.0,1987,2014,8,8,658-1,언주로 3,33
4,9,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,79.97,35000,0,3.0,1987,2014,8,18,658-1,언주로 3,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912962,168534,서울특별시,중랑구,중화동,한신2,전세,59.76,23500,0,4.0,1998,2015,6,26,450,동일로 752,22
912963,168535,서울특별시,중랑구,중화동,한신2,전세,59.76,27000,0,22.0,1998,2015,7,30,450,동일로 752,22
912964,168536,서울특별시,중랑구,중화동,한영(101),전세,71.83,19000,0,2.0,2003,2015,4,29,274-51,동일로144길 74,17
912965,168538,서울특별시,중랑구,중화동,한영(103),월세,50.29,4000,50,5.0,2003,2015,3,6,274-76,동일로144길 74,17
912966,168540,서울특별시,중랑구,중화동,한영(104),전세,67.57,17500,0,4.0,2003,2015,3,28,274-77,동일로144길 74,17

In [28]:
sell

,Unnamed: 0,city,town,village,name,size,price_sold,floor,year_built,yy,mm,dd,zipcode,address
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),77,160000,2,1988,2019,11,18,655-2,언주로 103
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),77,149500,4,1988,2020,6,23,655-2,언주로 103
2,2,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,155000,4,1987,2019,8,28,658-1,언주로 3
3,3,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,157000,2,1987,2019,9,2,658-1,언주로 3
4,4,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,151500,5,1987,2019,9,10,658-1,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815967,57229,서울특별시,중랑구,중화동,한신2,84,35700,3,1998,2010,12,30,450,동일로 752
815968,57230,서울특별시,중랑구,중화동,한신2,84,35800,3,1998,2011,2,28,450,동일로 752
815969,57231,서울특별시,중랑구,중화동,한영(104),68,23250,3,2003,2011,7,12,274-77,동일로144길 74
815970,57232,서울특별시,중랑구,중화동,현대휴앤미,82,28000,7,2007,2011,1,27,11,봉화산로27가길 23
815971,57233,서울특별시,중랑구,중화동,현대휴앤미,100,32500,5,2007,2011,5,3,11,봉화산로27가길 23

In [6]:
all=pd.concat([all1,all2,all3])

In [8]:
del all['Unnamed: 0']

In [9]:
all

,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
0,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.00,57000,0,0,2.0,1988.0,2013,9,8,655-2,언주로 103
1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.00,57000,0,0,2.0,1988.0,2013,12,16,655-2,언주로 103
2,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.00,71000,0,0,12.0,1984.0,2013,8,12,652,개포로 307
3,아파트,서울특별시,강남구,개포동,개포우성3차,매매,161.00,108500,0,0,5.0,1984.0,2013,10,8,652,개포로 307
4,아파트,서울특별시,강남구,개포동,개포우성3차,매매,104.00,65000,0,0,1.0,1984.0,2013,11,26,652,개포로 307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955019,아파트,서울특별시,중랑구,중화동,한신2,월세,59.76,0,50,50,4.0,1998.0,2017,4,7,450,동일로 752
955020,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,13.0,1998.0,2017,4,25,450,동일로 752
955021,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,7.0,1998.0,2017,5,10,450,동일로 752
955022,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,13.0,1998.0,2017,7,7,450,동일로 752
955023,아파트,서울특별시,중랑구,중화동,현대휴앤미,전세,82.97,0,0,0,7.0,2007.0,2017,2,17,11,봉화산로27가길 23

In [11]:
all['age']=2020-all['year_built']

In [35]:
rent1=rent.loc[rent['monthlyrent']==0]

In [36]:
rent1=rent.loc[rent['category']=='전세']

In [37]:
rent1

,Unnamed: 0,city,town,village,name,category,size,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address,age
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,8.0,1988,2014,9,1,655-2,언주로 103,32
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,39000,0,4.0,1988,2014,12,21,655-2,언주로 103,32
2,2,서울특별시,강남구,개포동,개포2차현대아파트(220),전세,77.75,43000,0,7.0,1988,2014,12,24,655-2,언주로 103,32
3,8,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,67.28,25000,0,5.0,1987,2014,8,8,658-1,언주로 3,33
4,9,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,전세,79.97,35000,0,3.0,1987,2014,8,18,658-1,언주로 3,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912961,168533,서울특별시,중랑구,중화동,한신2,전세,59.76,24000,0,4.0,1998,2015,6,17,450,동일로 752,22
912962,168534,서울특별시,중랑구,중화동,한신2,전세,59.76,23500,0,4.0,1998,2015,6,26,450,동일로 752,22
912963,168535,서울특별시,중랑구,중화동,한신2,전세,59.76,27000,0,22.0,1998,2015,7,30,450,동일로 752,22
912964,168536,서울특별시,중랑구,중화동,한영(101),전세,71.83,19000,0,2.0,2003,2015,4,29,274-51,동일로144길 74,17
912966,168540,서울특별시,중랑구,중화동,한영(104),전세,67.57,17500,0,4.0,2003,2015,3,28,274-77,동일로144길 74,17

In [150]:
sell=all.loc[all['category']=='매매']

In [151]:
sell=sell.groupby(['yy','mm','name','size','age','town','village'])['price_sold'].mean()

In [152]:
sell=sell.reset_index()

In [153]:
sell

          yy  mm           name  size   age  town village  price_sold
0       2010   8   \t(104-10)\t  30.0  26.0   구로구     구로동      6450.0
1       2010   8  \t(1061-18)\t  28.0  15.0   관악구     남현동     16500.0
2       2010   8  \t(1132-59)\t  34.0  30.0   구로구     구로동      6500.0
3       2010   8     \t(12-1)\t  43.0  29.0  영등포구    여의도동      9800.0
4       2010   8    \t(134-1)\t  26.0  19.0   구로구     오류동      7500.0
...      ...  ..            ...   ...   ...   ...     ...         ...
500594  2020   7        힐스테이트암사  84.0   1.0   강동구     암사동    135000.0
500595  2020   7      힐스테이트에코마곡  24.0   4.0   강서구     마곡동     21000.0
500596  2020   7      힐스테이트에코문정  20.0   2.0   송파구     문정동     23000.0
500597  2020   7      힐스테이트에코송파  21.0   3.0   송파구     문정동     19300.0
500598  2020   7          힐탑프라자  20.0  26.0   강동구     천호동      8875.0

[500599 rows x 8 columns]

In [154]:
rent2=rent1.groupby(['yy','mm','name','size','age','town','village'])['deposit'].mean()

In [155]:
rent2=rent2.reset_index()

In [156]:
rent2

          yy  mm           name     size  age town village       deposit
0       2011   1        (1-102)   59.970   23  종로구    명륜3가   3500.000000
1       2011   1  (633-22)로얄팰리스   95.730   17  강남구     역삼동  32000.000000
2       2011   1     (717-20)한성   43.280   19  구로구     구로동   9000.000000
3       2011   1       (739-18)   33.640   22  구로구     구로동   7000.000000
4       2011   1       (740-25)   59.910   23  구로구     구로동  11750.000000
...      ...  ..            ...      ...  ...  ...     ...           ...
505194  2020   7        힐스테이트녹번   84.898    1  은평구     녹번동  58000.000000
505195  2020   7        힐스테이트녹번   84.900    1  은평구     녹번동  50000.000000
505196  2020   7      힐스테이트송파위례  101.680    4  송파구     장지동  73000.000000
505197  2020   7      힐스테이트송파위례  101.800    4  송파구     장지동  71166.666667
505198  2020   7      힐스테이트송파위례  101.950    4  송파구     장지동  73250.000000

[505199 rows x 8 columns]

In [157]:
df=sell.merge(rent2,how='left',left_on=['yy','mm','name','size','age','town','village'],right_on=['yy','mm','name','size','age','town','village'])

In [158]:
df

          yy  mm           name  size   age  town village  price_sold  deposit
0       2010   8   \t(104-10)\t  30.0  26.0   구로구     구로동      6450.0      NaN
1       2010   8  \t(1061-18)\t  28.0  15.0   관악구     남현동     16500.0      NaN
2       2010   8  \t(1132-59)\t  34.0  30.0   구로구     구로동      6500.0      NaN
3       2010   8     \t(12-1)\t  43.0  29.0  영등포구    여의도동      9800.0      NaN
4       2010   8    \t(134-1)\t  26.0  19.0   구로구     오류동      7500.0      NaN
...      ...  ..            ...   ...   ...   ...     ...         ...      ...
500594  2020   7        힐스테이트암사  84.0   1.0   강동구     암사동    135000.0      NaN
500595  2020   7      힐스테이트에코마곡  24.0   4.0   강서구     마곡동     21000.0      NaN
500596  2020   7      힐스테이트에코문정  20.0   2.0   송파구     문정동     23000.0      NaN
500597  2020   7      힐스테이트에코송파  21.0   3.0   송파구     문정동     19300.0      NaN
500598  2020   7          힐탑프라자  20.0  26.0   강동구     천호동      8875.0      NaN

[500599 rows x 9 columns]

In [159]:
df['deposit'].fillna(0,inplace=True)

In [160]:
df['gap']=df['price_sold']-df['deposit']

In [161]:
df

,yy,mm,name,size,age,town,village,price_sold,deposit,gap
0,2010,8,\t(104-10)\t,30.0,26.0,구로구,구로동,6450.0,0.0,6450.0
1,2010,8,\t(1061-18)\t,28.0,15.0,관악구,남현동,16500.0,0.0,16500.0
2,2010,8,\t(1132-59)\t,34.0,30.0,구로구,구로동,6500.0,0.0,6500.0
3,2010,8,\t(12-1)\t,43.0,29.0,영등포구,여의도동,9800.0,0.0,9800.0
4,2010,8,\t(134-1)\t,26.0,19.0,구로구,오류동,7500.0,0.0,7500.0
...,...,...,...,...,...,...,...,...,...,...
500594,2020,7,힐스테이트암사,84.0,1.0,강동구,암사동,135000.0,0.0,135000.0
500595,2020,7,힐스테이트에코마곡,24.0,4.0,강서구,마곡동,21000.0,0.0,21000.0
500596,2020,7,힐스테이트에코문정,20.0,2.0,송파구,문정동,23000.0,0.0,23000.0
500597,2020,7,힐스테이트에코송파,21.0,3.0,송파구,문정동,19300.0,0.0,19300.0
500598,2020,7,힐탑프라자,20.0,26.0,강동구,천호동,8875.0,0.0,8875.0

In [162]:
df1=df.loc[(df['deposit']>0)&(df['gap']>0)]

In [163]:
df1

,yy,mm,name,size,age,town,village,price_sold,deposit,gap
16328,2011,1,가락금호아파트,85.0,23.0,송파구,가락동,60466.666667,29142.857143,31323.809524
16329,2011,1,가락미륭아파트,50.0,34.0,송파구,가락동,37000.000000,14000.000000,23000.000000
16551,2011,1,고덕시영,43.0,36.0,강동구,고덕동,53128.571429,6200.000000,46928.571429
16586,2011,1,관악드림(동아),60.0,17.0,관악구,봉천동,31500.000000,18125.000000,13375.000000
16588,2011,1,관악드림(동아),102.0,17.0,관악구,봉천동,50000.000000,23000.000000,27000.000000
...,...,...,...,...,...,...,...,...,...,...
499287,2020,7,장미1,99.0,41.0,송파구,신천동,197000.000000,58000.000000,139000.000000
499289,2020,7,장미2,99.0,41.0,송파구,신천동,205000.000000,45757.500000,159242.500000
499332,2020,7,정릉e-편한세상,85.0,14.0,성북구,정릉동,71550.000000,45000.000000,26550.000000
500082,2020,7,한신1,27.0,32.0,노원구,하계동,25175.000000,12000.000000,13175.000000
500395,2020,7,현대백조,31.0,23.0,송파구,오금동,50000.000000,12000.000000,38000.000000

In [164]:
df1.to_excel('/Users/kang/Pandas/Real/gap_wofloor.xlsx')

In [165]:
df1['name'].nunique()

135