In [1]:
import pandas as pd

In [122]:
apt_sell=pd.read_excel('/Users/kang/Pandas/Real/apt_sell_all.xlsx')

In [100]:
off_sell=pd.read_excel('/Users/kang/Pandas/Real/off_sell_all.xlsx')

In [18]:
apt_rent1=pd.read_excel('/Users/kang/Pandas/Real/apt_rent_all_1.xlsx')
apt_rent2=pd.read_excel('/Users/kang/Pandas/Real/apt_rent_all_2.xlsx')

In [130]:
apt_sell

,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
0,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77,160000,미해당,미해당,2,1988,2019,11,18,655-2,언주로 103
1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77,149500,미해당,미해당,4,1988,2020,6,23,655-2,언주로 103
2,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79,155000,미해당,미해당,4,1987,2019,8,28,658-1,언주로 3
3,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79,157000,미해당,미해당,2,1987,2019,9,2,658-1,언주로 3
4,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79,151500,미해당,미해당,5,1987,2019,9,10,658-1,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815967,아파트,서울특별시,중랑구,중화동,한신2,매매,84,35700,미해당,미해당,3,1998,2010,12,30,450,동일로 752
815968,아파트,서울특별시,중랑구,중화동,한신2,매매,84,35800,미해당,미해당,3,1998,2011,2,28,450,동일로 752
815969,아파트,서울특별시,중랑구,중화동,한영(104),매매,68,23250,미해당,미해당,3,2003,2011,7,12,274-77,동일로144길 74
815970,아파트,서울특별시,중랑구,중화동,현대휴앤미,매매,82,28000,미해당,미해당,7,2007,2011,1,27,11,봉화산로27가길 23
815971,아파트,서울특별시,중랑구,중화동,현대휴앤미,매매,100,32500,미해당,미해당,5,2007,2011,5,3,11,봉화산로27가길 23

In [142]:
apt_sell['category']='매매'
apt_sell['deposit']=0
apt_sell['monthlyrent']=0
off_sell['category']='매매'
off_sell['deposit']=0
off_sell['monthlyrent']=0
apt_rent1['price_sold']=0
apt_rent2['price_sold']=0

In [143]:
apt_sell['type']='아파트'
apt_rent1['type']='아파트'
apt_rent2['type']='아파트'
off_sell['type']='오피스텔'

In [144]:
neworder = [ 'type','city', 'town', 'village', 'name', 'category', 'size','price_sold','deposit', 'monthlyrent', 'floor', 'year_built', 'yy', 'mm', 'dd','zipcode', 'address']

In [145]:
apt_sell=apt_sell.reindex(columns=neworder)
off_sell=off_sell.reindex(columns=neworder)
apt_rent1=apt_rent1.reindex(columns=neworder)
apt_rent2=apt_rent2.reindex(columns=neworder)

In [146]:
apt_sell

,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
0,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77,160000,0,0,2,1988,2019,11,18,655-2,언주로 103
1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77,149500,0,0,4,1988,2020,6,23,655-2,언주로 103
2,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79,155000,0,0,4,1987,2019,8,28,658-1,언주로 3
3,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79,157000,0,0,2,1987,2019,9,2,658-1,언주로 3
4,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79,151500,0,0,5,1987,2019,9,10,658-1,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815967,아파트,서울특별시,중랑구,중화동,한신2,매매,84,35700,0,0,3,1998,2010,12,30,450,동일로 752
815968,아파트,서울특별시,중랑구,중화동,한신2,매매,84,35800,0,0,3,1998,2011,2,28,450,동일로 752
815969,아파트,서울특별시,중랑구,중화동,한영(104),매매,68,23250,0,0,3,2003,2011,7,12,274-77,동일로144길 74
815970,아파트,서울특별시,중랑구,중화동,현대휴앤미,매매,82,28000,0,0,7,2007,2011,1,27,11,봉화산로27가길 23
815971,아파트,서울특별시,중랑구,중화동,현대휴앤미,매매,100,32500,0,0,5,2007,2011,5,3,11,봉화산로27가길 23

In [147]:
all=pd.concat([apt_sell,off_sell,apt_rent1,apt_rent2])

In [148]:
all.isnull().sum()

type              0
city              0
town              0
village           0
name              0
category          0
size             31
price_sold        0
deposit           0
monthlyrent       0
floor            31
year_built      808
yy                0
mm                0
dd                0
zipcode        1593
address           0
dtype: int64

In [149]:
print(apt_sell.info())
print(off_sell.info())
print(apt_rent1.info())
print(apt_rent2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815972 entries, 0 to 815971
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   type         815972 non-null  object
 1   city         815972 non-null  object
 2   town         815972 non-null  object
 3   village      815972 non-null  object
 4   name         815972 non-null  object
 5   category     815972 non-null  object
 6   size         815972 non-null  int64
 7   price_sold   815972 non-null  int64
 8   deposit      815972 non-null  int64
 9   monthlyrent  815972 non-null  int64
 10  floor        815972 non-null  int64
 11  year_built   815972 non-null  int64
 12  yy           815972 non-null  int64
 13  mm           815972 non-null  int64
 14  dd           815972 non-null  int64
 15  zipcode      815757 non-null  object
 16  address      815972 non-null  object
dtypes: int64(9), object(8)
memory usage: 105.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106226 entries, 0 to 106225
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   type         106226 non-null  object
 1   city         106226 non-null  object
 2   town         106226 non-null  object
 3   village      106226 non-null  object
 4   name         106226 non-null  object
 5   category     106226 non-null  object
 6   size         106226 non-null  int64
 7   price_sold   106226 non-null  int64
 8   deposit      106226 non-null  int64
 9   monthlyrent  106226 non-null  int64
 10  floor        106226 non-null  int64
 11  year_built   105418 non-null  float64
 12  yy           106226 non-null  int64
 13  mm           106226 non-null  int64
 14  dd           106226 non-null  int64
 15  zipcode      106069 non-null  object
 16  address      106226 non-null  object
dtypes: float64(1), int64(8), object(8)
memory usage: 13.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565913 entries, 0 to 565912
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   type         565913 non-null  object
 1   city         565913 non-null  object
 2   town         565913 non-null  object
 3   village      565913 non-null  object
 4   name         565913 non-null  object
 5   category     565913 non-null  object
 6   size         565882 non-null  float64
 7   price_sold   565913 non-null  int64
 8   deposit      565913 non-null  int64
 9   monthlyrent  565913 non-null  int64
 10  floor        565882 non-null  float64
 11  year_built   565913 non-null  int64
 12  yy           565913 non-null  int64
 13  mm           565913 non-null  int64
 14  dd           565913 non-null  int64
 15  zipcode      565809 non-null  object
 16  address      565913 non-null  object
dtypes: float64(2), int64(7), object(8)
memory usage: 73.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912967 entries, 0 to 912966
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   type         912967 non-null  object
 1   city         912967 non-null  object
 2   town         912967 non-null  object
 3   village      912967 non-null  object
 4   name         912967 non-null  object
 5   category     912967 non-null  object
 6   size         912967 non-null  float64
 7   price_sold   912967 non-null  int64
 8   deposit      912967 non-null  int64
 9   monthlyrent  912967 non-null  int64
 10  floor        912967 non-null  int64
 11  year_built   912967 non-null  int64
 12  yy           912967 non-null  int64
 13  mm           912967 non-null  int64
 14  dd           912967 non-null  int64
 15  zipcode      911850 non-null  object
 16  address      912967 non-null  object
dtypes: float64(1), int64(8), object(8)
memory usage: 118.4+ MB
None

In [140]:
all.fillna('모름',inplace=True)

In [141]:
all

,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
0,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77,160000,미해당,미해당,2,1988,2019,11,18,655-2,언주로 103
1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77,149500,미해당,미해당,4,1988,2020,6,23,655-2,언주로 103
2,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79,155000,미해당,미해당,4,1987,2019,8,28,658-1,언주로 3
3,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79,157000,미해당,미해당,2,1987,2019,9,2,658-1,언주로 3
4,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79,151500,미해당,미해당,5,1987,2019,9,10,658-1,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912962,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,미해당,0,0,4,1998,2015,6,26,450,동일로 752
912963,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,미해당,0,0,22,1998,2015,7,30,450,동일로 752
912964,아파트,서울특별시,중랑구,중화동,한영(101),전세,71.83,미해당,0,0,2,2003,2015,4,29,274-51,동일로144길 74
912965,아파트,서울특별시,중랑구,중화동,한영(103),월세,50.29,미해당,50,50,5,2003,2015,3,6,274-76,동일로144길 74
912966,아파트,서울특별시,중랑구,중화동,한영(104),전세,67.57,미해당,0,0,4,2003,2015,3,28,274-77,동일로144길 74

In [150]:
all

,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
0,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.00,160000,0,0,2.0,1988.0,2019,11,18,655-2,언주로 103
1,아파트,서울특별시,강남구,개포동,개포2차현대아파트(220),매매,77.00,149500,0,0,4.0,1988.0,2020,6,23,655-2,언주로 103
2,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.00,155000,0,0,4.0,1987.0,2019,8,28,658-1,언주로 3
3,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.00,157000,0,0,2.0,1987.0,2019,9,2,658-1,언주로 3
4,아파트,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,매매,79.00,151500,0,0,5.0,1987.0,2019,9,10,658-1,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912962,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,4.0,1998.0,2015,6,26,450,동일로 752
912963,아파트,서울특별시,중랑구,중화동,한신2,전세,59.76,0,0,0,22.0,1998.0,2015,7,30,450,동일로 752
912964,아파트,서울특별시,중랑구,중화동,한영(101),전세,71.83,0,0,0,2.0,2003.0,2015,4,29,274-51,동일로144길 74
912965,아파트,서울특별시,중랑구,중화동,한영(103),월세,50.29,0,50,50,5.0,2003.0,2015,3,6,274-76,동일로144길 74
912966,아파트,서울특별시,중랑구,중화동,한영(104),전세,67.57,0,0,0,4.0,2003.0,2015,3,28,274-77,동일로144길 74

In [151]:
all1=all.loc[all['yy']<2014]
all2=all.loc[(all['yy']>2013)&(all['yy']<2017)]
all3=all.loc[all['yy']>2016]

In [152]:
all1.to_excel('/Users/kang/Pandas/Real/all_2010_2013.xlsx')

In [153]:
all2.to_excel('/Users/kang/Pandas/Real/all_2014_2016.xlsx')

In [154]:
all3.to_excel('/Users/kang/Pandas/Real/all_2017_2020.xlsx')

In [176]:
yongsan=all.loc[all['town']=='용산구']

In [182]:
yongsan

,type,city,town,village,name,category,size,price_sold,deposit,monthlyrent,floor,year_built,yy,mm,dd,zipcode,address
87689,아파트,서울특별시,용산구,갈월동,두리파크빌,매매,69.00,73200,0,0,4.0,2004.0,2019,10,26,6-48,한강대로102나길 23
87690,아파트,서울특별시,용산구,갈월동,두리파크빌,매매,84.00,90000,0,0,1.0,2004.0,2019,12,20,6-48,한강대로102나길 23
87691,아파트,서울특별시,용산구,갈월동,두리파크빌,매매,108.00,105000,0,0,2.0,2004.0,2020,3,19,6-48,한강대로102나길 23
87692,아파트,서울특별시,용산구,도원동,삼성래미안,매매,59.00,85800,0,0,16.0,2001.0,2019,8,18,23,새창로 70
87693,아파트,서울특별시,용산구,도원동,삼성래미안,매매,84.00,98500,0,0,14.0,2001.0,2019,8,19,23,새창로 70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906426,아파트,서울특별시,용산구,후암동,후암미주,월세,62.28,0,60,60,6.0,1980.0,2015,6,19,423-1,후암로 71-1
906427,아파트,서울특별시,용산구,후암동,후암미주,전세,62.74,0,0,0,1.0,1980.0,2015,7,11,423-1,후암로 71-1
906428,아파트,서울특별시,용산구,후암동,후암미주,전세,62.28,0,0,0,7.0,1980.0,2015,7,15,423-1,후암로 71-1
906429,아파트,서울특별시,용산구,후암동,후암미주,전세,62.78,0,0,0,4.0,1980.0,2015,7,27,423-1,후암로 71-1
906430,아파트,서울특별시,용산구,후암동,힐튼빌리지1차,전세,82.35,0,0,0,1.0,2002.0,2015,7,18,244-91,후암로22길 29

In [183]:
yong=yongsan.groupby(['type','village','yy','mm'])['price_sold']

In [186]:
yong.reset_index()

AttributeError: 'SeriesGroupBy' object has no attribute 'reset_index'

In [161]:
yongsan_year.pivot(index=['type','village'],column=['yy','mm'],values='price_sold')

AttributeError: 'SeriesGroupBy' object has no attribute 'pivot'