In [1]:
import pandas as pd

In [2]:
apt_sell=pd.read_excel('/Users/kang/Pandas/Real/apt_sell_all.xlsx')

In [15]:
apt_sell

,Unnamed: 0,city,town,village,name,size,price_sold,floor,year_built,yy,mm,dd,zipcode,address
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),77,160000,2,1988,2019,11,18,655-2,언주로 103
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),77,149500,4,1988,2020,6,23,655-2,언주로 103
2,2,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,155000,4,1987,2019,8,28,658-1,언주로 3
3,3,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,157000,2,1987,2019,9,2,658-1,언주로 3
4,4,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,151500,5,1987,2019,9,10,658-1,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815967,57229,서울특별시,중랑구,중화동,한신2,84,35700,3,1998,2010,12,30,450,동일로 752
815968,57230,서울특별시,중랑구,중화동,한신2,84,35800,3,1998,2011,2,28,450,동일로 752
815969,57231,서울특별시,중랑구,중화동,한영(104),68,23250,3,2003,2011,7,12,274-77,동일로144길 74
815970,57232,서울특별시,중랑구,중화동,현대휴앤미,82,28000,7,2007,2011,1,27,11,봉화산로27가길 23
815971,57233,서울특별시,중랑구,중화동,현대휴앤미,100,32500,5,2007,2011,5,3,11,봉화산로27가길 23

In [16]:
yongsan=apt_sell.loc[apt_sell['town']=='용산구']

In [17]:
yongsan

,Unnamed: 0,city,town,village,name,size,price_sold,floor,year_built,yy,mm,dd,zipcode,address
87689,87689,서울특별시,용산구,갈월동,두리파크빌,69,73200,4,2004,2019,10,26,6-48,한강대로102나길 23
87690,87690,서울특별시,용산구,갈월동,두리파크빌,84,90000,1,2004,2019,12,20,6-48,한강대로102나길 23
87691,87691,서울특별시,용산구,갈월동,두리파크빌,108,105000,2,2004,2020,3,19,6-48,한강대로102나길 23
87692,87692,서울특별시,용산구,도원동,삼성래미안,59,85800,16,2001,2019,8,18,23,새창로 70
87693,87693,서울특별시,용산구,도원동,삼성래미안,84,98500,14,2001,2019,8,19,23,새창로 70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811093,52355,서울특별시,용산구,후암동,후암미주,63,44000,3,1980,2010,11,22,423-1,후암로 71-1
811094,52356,서울특별시,용산구,후암동,후암미주,64,43000,1,1980,2011,1,20,423-1,후암로 71-1
811095,52357,서울특별시,용산구,후암동,후암미주,64,46700,2,1980,2011,2,16,423-1,후암로 71-1
811096,52358,서울특별시,용산구,후암동,후암미주,63,44800,2,1980,2011,5,4,423-1,후암로 71-1
811097,52359,서울특별시,용산구,후암동,힐튼빌리지1차,100,53000,4,2002,2010,12,1,244-91,후암로22길 29

In [28]:
yong=yongsan.groupby(['village','yy'])['price_sold'].mean().to_frame().reset_index()

In [32]:
yong.pivot(index='yy',columns='village',values='price_sold')

village,갈월동,도원동,동빙고동,동자동,문배동,보광동,산천동,서빙고동,신계동,신창동,...,주성동,청암동,청파동1가,청파동3가,한강로1가,한강로2가,한강로3가,한남동,효창동,후암동
yy,,,,,,,,,,,,,,,,,,,,,
2010,NaN,49335.526316,73000.000000,30000.000000,59080.000000,54083.333333,43433.333333,126937.500000,NaN,NaN,...,NaN,161712.666667,35500.0,50000.000000,NaN,37815.384615,154166.666667,61034.615385,48414.285714,47083.333333
2011,50000.000000,50088.524590,98600.000000,28250.000000,59395.652174,61287.500000,43706.944444,117097.222222,95886.470588,55000.000000,...,NaN,152785.600000,33000.0,49033.333333,105785.714286,52045.000000,92515.217391,61137.931034,58164.615385,53519.047619
2012,NaN,47934.864865,80025.500000,NaN,57584.615385,54021.428571,40760.937500,121614.285714,74484.210526,43250.000000,...,NaN,190000.000000,NaN,48000.000000,89750.000000,48085.714286,40941.788462,61073.666667,49710.869565,45652.631579
2013,NaN,44355.645161,87400.000000,60827.000000,49834.210526,51853.125000,42444.736842,93920.967742,86033.583333,43327.272727,...,NaN,168500.000000,30000.0,NaN,81342.500000,64747.500000,65543.880952,55965.979381,45129.347826,41708.695652
2014,43150.000000,47357.368421,91500.000000,110873.298507,46550.222222,57121.428571,41118.571429,107037.500000,76523.684211,43900.000000,...,NaN,132166.666667,30900.0,29750.000000,92311.538462,80720.416667,104161.437500,86261.517986,46232.954545,49354.166667
2015,42000.000000,49920.833333,95600.000000,98040.384615,52032.739130,63694.444444,44984.388489,104961.904762,73712.500000,46560.000000,...,NaN,129500.000000,29000.0,40750.000000,76748.684211,68802.388889,93873.921875,108477.896996,51563.690476,52704.411765
2016,58000.000000,53906.250000,105375.000000,96402.000000,58665.918605,70197.321429,48815.769231,116420.000000,85556.081081,47142.307692,...,NaN,151800.000000,35000.0,54750.000000,77345.945946,91183.962264,92131.428571,193653.971014,55253.976190,49649.782609
2017,67000.000000,62508.536585,105500.000000,90915.000000,66063.586957,83994.897959,54526.897638,133846.666667,95882.222222,51406.666667,...,119500.0,140222.222222,NaN,70000.000000,91080.555556,100342.492754,119847.368421,215723.719512,55787.614286,60084.883721
2018,NaN,71872.463768,126611.111111,122038.775510,68514.941860,105043.750000,72383.536585,180939.814815,134125.000000,67163.636364,...,185000.0,149333.333333,33000.0,44733.333333,102489.189189,126820.000000,137801.315789,266147.163462,73258.333333,64123.469388
2019,78066.666667,91334.146341,117000.000000,110881.250000,78914.432990,134852.941176,86168.831169,200786.363636,143125.000000,81691.666667,...,NaN,179000.000000,37000.0,60666.666667,112500.000000,149798.108108,163787.037037,268230.444444,83176.190476,81727.586207
2020,105000.000000,101801.250000,135333.333333,121488.888889,89626.000000,153857.142857,91857.317073,199134.615385,162150.000000,85916.666667,...,NaN,181035.000000,46000.0,80000.000000,134380.952381,104800.000000,194328.125000,213088.888889,100937.037037,85021.052632

In [33]:
yong.to_excel('/Users/kang/Pandas/Real/yongsan_apt.xlsx')