In [1]:
import pandas as pd

In [114]:
sell20=pd.read_excel("/Users/kang/Documents/Github/Pandas/Exercise/lending/sell_2020.xlsx")

NameError: name 'int64' is not defined

In [10]:
rent20=pd.read_excel("/Users/kang/Documents/Github/Pandas/Exercise/lending/rent_2020.xlsx")

In [44]:
sell20

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201911,18,"160,000",2,1988,언주로 103
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,202006,23,"149,500",4,1988,언주로 103
2,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201908,28,"155,000",4,1987,언주로 3
3,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201909,2,"157,000",2,1987,언주로 3
4,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201909,10,"151,500",5,1987,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...
98558,서울특별시 중랑구 중화동,274-76,274,76,한영(103),61.36,202005,5,"23,000",2,2003,동일로144길 74
98559,서울특별시 중랑구 중화동,274-77,274,77,한영(104),70.96,202001,28,"31,200",4,2003,동일로144길 74
98560,서울특별시 중랑구 중화동,274-77,274,77,한영(104),66.24,202002,3,"28,500",5,2003,동일로144길 74
98561,서울특별시 중랑구 중화동,274-77,274,77,한영(104),106.21,202003,11,"45,400",6,2003,동일로144길 74
98562,서울특별시 중랑구 중화동,11,11,0,현대휴앤미,95.94,202007,10,"44,000",6,2007,봉화산로27가길 23

In [12]:
rent20

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),전세,77.75,201908,24,"50,000",0,9,1988,언주로 103
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),전세,77.75,201908,31,"48,000",0,1,1988,언주로 103
2,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),전세,77.75,201912,10,"55,000",0,8,1988,언주로 103
3,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),전세,77.75,201912,21,"65,000",0,2,1988,언주로 103
4,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),전세,77.75,202002,5,"53,000",0,8,1988,언주로 103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176344,서울특별시 중랑구 중화동,450,450,0,한신2,전세,59.76,202007,11,"34,000",0,23,1998,동일로 752
176345,서울특별시 중랑구 중화동,274-76,274,76,한영(103),전세,87.31,201910,22,"28,000",0,6,2003,동일로144길 74
176346,서울특별시 중랑구 중화동,274-77,274,77,한영(104),월세,67.57,201909,25,"10,000",30,2,2003,동일로144길 74
176347,서울특별시 중랑구 중화동,274-77,274,77,한영(104),월세,67.57,201909,25,"10,000",30,2,2003,동일로144길 74
176348,서울특별시 중랑구 중화동,11-7,11,7,현대휴앤미(102동),월세,64.48,201909,24,"10,000",20,4,2007,봉화산로27가길 19

In [45]:
print(sell20.info())
print(rent20.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98563 entries, 0 to 98562
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       98563 non-null  object
 1   번지        98536 non-null  object
 2   본번        98563 non-null  int64
 3   부번        98563 non-null  int64
 4   단지명       98563 non-null  object
 5   전용면적(㎡)   98563 non-null  float64
 6   계약년월      98563 non-null  int64
 7   계약일       98563 non-null  int64
 8   거래금액(만원)  98563 non-null  object
 9   층         98563 non-null  int64
 10  건축년도      98563 non-null  int64
 11  도로명       98563 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 9.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176349 entries, 0 to 176348
Data columns (total 14 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   시군구      176349 non-null  object
 1   번지       176087 non-null  object
 2   본번       176349 non-null  int64
 3   부번       176349 non-null  int64
 4   단지명      176349 non-null  object
 5   전월세구분    176349 non-null  object
 6   전용면적(㎡)  176349 non-null  float64
 7   계약년월     176349 non-null  int64
 8   계약일      176349 non-null  int64
 9   보증금(만원)  176349 non-null  object
 10  월세(만원)   176349 non-null  object
 11  층        176349 non-null  int64
 12  건축년도     176349 non-null  int64
 13  도로명      176349 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 18.8+ MB
None

In [46]:
all20=pd.concat([sell20,rent20])

In [47]:
all20

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,전월세구분,보증금(만원),월세(만원)
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201911,18,"160,000",2,1988,언주로 103,NaN,NaN,NaN
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,202006,23,"149,500",4,1988,언주로 103,NaN,NaN,NaN
2,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201908,28,"155,000",4,1987,언주로 3,NaN,NaN,NaN
3,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201909,2,"157,000",2,1987,언주로 3,NaN,NaN,NaN
4,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201909,10,"151,500",5,1987,언주로 3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176344,서울특별시 중랑구 중화동,450,450,0,한신2,59.76,202007,11,NaN,23,1998,동일로 752,전세,"34,000",0
176345,서울특별시 중랑구 중화동,274-76,274,76,한영(103),87.31,201910,22,NaN,6,2003,동일로144길 74,전세,"28,000",0
176346,서울특별시 중랑구 중화동,274-77,274,77,한영(104),67.57,201909,25,NaN,2,2003,동일로144길 74,월세,"10,000",30
176347,서울특별시 중랑구 중화동,274-77,274,77,한영(104),67.57,201909,25,NaN,2,2003,동일로144길 74,월세,"10,000",30
176348,서울특별시 중랑구 중화동,11-7,11,7,현대휴앤미(102동),64.48,201909,24,NaN,4,2007,봉화산로27가길 19,월세,"10,000",20

In [48]:
all20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274912 entries, 0 to 176348
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   시군구       274912 non-null  object
 1   번지        274623 non-null  object
 2   본번        274912 non-null  int64
 3   부번        274912 non-null  int64
 4   단지명       274912 non-null  object
 5   전용면적(㎡)   274912 non-null  float64
 6   계약년월      274912 non-null  int64
 7   계약일       274912 non-null  int64
 8   거래금액(만원)  98563 non-null   object
 9   층         274912 non-null  int64
 10  건축년도      274912 non-null  int64
 11  도로명       274912 non-null  object
 12  전월세구분     176349 non-null  object
 13  보증금(만원)   176349 non-null  object
 14  월세(만원)    176349 non-null  object
dtypes: float64(1), int64(6), object(8)
memory usage: 33.6+ MB

In [49]:
all20.columns=['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '구분', '보증금(만원)', '월세(만원)']

In [50]:
all20

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,구분,보증금(만원),월세(만원)
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201911,18,"160,000",2,1988,언주로 103,NaN,NaN,NaN
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,202006,23,"149,500",4,1988,언주로 103,NaN,NaN,NaN
2,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201908,28,"155,000",4,1987,언주로 3,NaN,NaN,NaN
3,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201909,2,"157,000",2,1987,언주로 3,NaN,NaN,NaN
4,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201909,10,"151,500",5,1987,언주로 3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176344,서울특별시 중랑구 중화동,450,450,0,한신2,59.76,202007,11,NaN,23,1998,동일로 752,전세,"34,000",0
176345,서울특별시 중랑구 중화동,274-76,274,76,한영(103),87.31,201910,22,NaN,6,2003,동일로144길 74,전세,"28,000",0
176346,서울특별시 중랑구 중화동,274-77,274,77,한영(104),67.57,201909,25,NaN,2,2003,동일로144길 74,월세,"10,000",30
176347,서울특별시 중랑구 중화동,274-77,274,77,한영(104),67.57,201909,25,NaN,2,2003,동일로144길 74,월세,"10,000",30
176348,서울특별시 중랑구 중화동,11-7,11,7,현대휴앤미(102동),64.48,201909,24,NaN,4,2007,봉화산로27가길 19,월세,"10,000",20

In [51]:
all20['구분'].fillna('매매',inplace=True)

In [52]:
all20.columns=['시군구', '번지', '본번', '부번', '단지명', '전용면적', '계약년월', '계약일', '매매가',
       '층', '건축년도', '도로명', '구분', '보증금', '월세']

In [53]:
all20

,시군구,번지,본번,부번,단지명,전용면적,계약년월,계약일,매매가,층,건축년도,도로명,구분,보증금,월세
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201911,18,"160,000",2,1988,언주로 103,매매,NaN,NaN
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,202006,23,"149,500",4,1988,언주로 103,매매,NaN,NaN
2,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201908,28,"155,000",4,1987,언주로 3,매매,NaN,NaN
3,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201909,2,"157,000",2,1987,언주로 3,매매,NaN,NaN
4,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,79.97,201909,10,"151,500",5,1987,언주로 3,매매,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176344,서울특별시 중랑구 중화동,450,450,0,한신2,59.76,202007,11,NaN,23,1998,동일로 752,전세,"34,000",0
176345,서울특별시 중랑구 중화동,274-76,274,76,한영(103),87.31,201910,22,NaN,6,2003,동일로144길 74,전세,"28,000",0
176346,서울특별시 중랑구 중화동,274-77,274,77,한영(104),67.57,201909,25,NaN,2,2003,동일로144길 74,월세,"10,000",30
176347,서울특별시 중랑구 중화동,274-77,274,77,한영(104),67.57,201909,25,NaN,2,2003,동일로144길 74,월세,"10,000",30
176348,서울특별시 중랑구 중화동,11-7,11,7,현대휴앤미(102동),64.48,201909,24,NaN,4,2007,봉화산로27가길 19,월세,"10,000",20

In [59]:
all20['시군구'].astype(str)

0         서울특별시 강남구 개포동
1         서울특별시 강남구 개포동
2         서울특별시 강남구 개포동
3         서울특별시 강남구 개포동
4         서울특별시 강남구 개포동
              ...
176344    서울특별시 중랑구 중화동
176345    서울특별시 중랑구 중화동
176346    서울특별시 중랑구 중화동
176347    서울특별시 중랑구 중화동
176348    서울특별시 중랑구 중화동
Name: 시군구, Length: 274912, dtype: object

In [66]:
all20['광역시']=all20['시군구'].str.split(' ').str[0]
all20['자치구']=all20['시군구'].str.split(' ').str[1]
all20['동']=all20['시군구'].astype(str).str.split(' ').str[2]

In [79]:
all20['year']=all20['계약년월'].astype(str).str.slice(0,4)
all20['month']=all20['계약년월'].astype(str).str.slice(4,6)

In [98]:
all20['매매가']=all20['매매가'].str.replace(',','')
all20['보증금']=all20['보증금'].str.replace(',','')
all20['월세']=all20['월세'].str.replace(',','')

In [104]:
all20['매매가']=all20['매매가'].str.replace('미해당','0')
all20['보증금']=all20['보증금'].str.replace('미해당','0')
all20['월세']=all20['월세'].str.replace('미해당','0')

In [116]:
all20['매매가']=all20['매매가'].astype(str).astype(int)
all20['보증금']=all20['보증금'].astype(str).astype(int)
all20['보증금']=all20['월세'].astype(str).astype(int)

In [117]:
all20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274912 entries, 0 to 176348
Data columns (total 20 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   시군구     274912 non-null  object
 1   번지      274623 non-null  object
 2   본번      274912 non-null  int64
 3   부번      274912 non-null  int64
 4   단지명     274912 non-null  object
 5   전용면적    274912 non-null  float64
 6   계약년월    274912 non-null  int64
 7   계약일     274912 non-null  int64
 8   매매가     274912 non-null  int64
 9   층       274912 non-null  int64
 10  건축년도    274912 non-null  int64
 11  도로명     274912 non-null  object
 12  구분      274912 non-null  object
 13  보증금     274912 non-null  int64
 14  월세      274912 non-null  object
 15  자치구     274912 non-null  object
 16  동       274912 non-null  object
 17  광역시     274912 non-null  object
 18  year    274912 non-null  object
 19  month   274912 non-null  object
dtypes: float64(1), int64(8), object(11)
memory usage: 44.0+ MB

In [118]:
sell20=all20.loc[all20['구분']=='매매']
sell20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98563 entries, 0 to 98562
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구     98563 non-null  object
 1   번지      98536 non-null  object
 2   본번      98563 non-null  int64
 3   부번      98563 non-null  int64
 4   단지명     98563 non-null  object
 5   전용면적    98563 non-null  float64
 6   계약년월    98563 non-null  int64
 7   계약일     98563 non-null  int64
 8   매매가     98563 non-null  int64
 9   층       98563 non-null  int64
 10  건축년도    98563 non-null  int64
 11  도로명     98563 non-null  object
 12  구분      98563 non-null  object
 13  보증금     98563 non-null  int64
 14  월세      98563 non-null  object
 15  자치구     98563 non-null  object
 16  동       98563 non-null  object
 17  광역시     98563 non-null  object
 18  year    98563 non-null  object
 19  month   98563 non-null  object
dtypes: float64(1), int64(8), object(11)
memory usage: 15.8+ MB

In [121]:
sell_month=sell20.groupby(['자치구','month'])['매매가'].mean()
sell_month=sell_month.to_frame().reset_index()